/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('../html/assets/fonts/fontawesome-webfont.eot?v=4.4.0');
  src: url('../html/assets/fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('../html/assets/fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('../html/assets/fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('../html/assets/fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('../html/assets/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.livetable thead th{
    font-size: 30px;
    font-style: bold;
    text-align:center;
}


.livetable td {
    font-size: 20px;
    font-family: FontAwesome;
    color: grey;
    text-align:center;
}


.livetable td.ok {
    color: green;
}
.ok:before {
    content: "\f1e6";
}


.livetable td.ko {
    color: #ababab;
}
.ko:before {
    content: "\f1e6";
}


.livetable td.on {
    color: green;
}
.on:before {
    content: "\f011";
}


.livetable td.off {
    color: #ababab;
}
.off:before {
    content: "\f011";
}


.livetable td.ping_ok {
    color: green;
}
.ping_ok:before {
    content: "\f00c";
}


.livetable td.ping_ko {
    color: red;
}
.ping_ko:before {
    content: "\f127";
}


.livetable td.os {
    font-size:		20px;
    font-color:		#000;
    vertical-align:	middle;
}


.livetable td.os>img {
    height : 20px;
}
