.node-circle {
    stroke-width: 5;
    fill-opacity: 0;
}
.node-label {
    font-family: consolas, monaco, times-new-roman;
    font-size: 16;
    text-anchor: middle;
    alignment-baseline: middle;
}
