circle.op-status {
    stroke: 0;
    opacity: .5;
}

circle.available {
    opacity: .7;
    fill: #f00;
    stroke: 0;
}

text.node-label {
    font-family: consolas, monaco, times-new-roman;
    font-size: 16;
    text-anchor: middle;
    alignment-baseline: middle;
}
