<div id="float_menu">
 <div class="label menu">
  Tutorials
 </div>
 <div class="menu">
  <a href="tuto-01-registration.md" class="menu_item">Onelab registration</a>
  <a href="tuto-02-shell-tools.md" class="menu_item">In the gateway</a>
  <a href="tuto-03-As.md" class="menu_item">NEPI ping</a>
  <a href="tuto-03-As.md#A6" class="menu_item">NEPI ping OAI</a>
  <a href="tuto-04-Bs.md" class="menu_item">NEPI file exchange</a>
  <a href="tuto-05-Cs.md" class="menu_item">NEPI load image</a>
  <a href="https://youtu.be/vDPLQNsZaVY" target="_blank" class="menu_item">end2end experiment</a>
  <a href="https://youtu.be/FpZo6uqTosQ" target="_blank" class="menu_item">OIA 5G experiment</a>
 </div>
</div>
<style>@import url("/assets/r2lab/float-menu.css")</style>
<script type="text/javascript" src="/assets/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/assets/r2lab/float-menu.js"></script>
<script type="text/javascript">$(float_menu);</script>
