<div id="float_menu">
 <div class="label menu">
  Tutorials
 </div>
 <div class="menu">
  <a href="tuto-01-registration.md" class="menu_item">Onelab registration</a>
  <a href="tuto-02-shell-tools.md" class="menu_item">Onelab SSH connection</a>
  <a href="tuto-03-As.md" class="menu_item">NEPI - ping</a>
  <a href="tuto-04-Bs.md" class="menu_item">NEPI - file exchange</a>
  <a href="tuto-05-Cs.md" class="menu_item">NEPI - load image</a>
 </div>
</div>
<style>@import url("/assets/css/float_menu.css")</style>
<script type="text/javascript" src="/assets/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/assets/js/float_menu.js"></script>
<script type="text/javascript">$(float_menu);</script>
