<!DOCTYPE html>
<html>
 <head>
   <style>
   .numberCircle {
       border-radius: 50%;
       behavior: url(PIE.htc); /* remove if you don't care about IE8 */

       width: 36px;
       height: 36px;
       padding: 8px;

       background: #fff;
       border: 2px solid #666;
       color: #666;
       text-align: center;

       font: 32px Arial, sans-serif;
   }
   </style>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{{title}}</title>
  <link rel="icon" type="image/png" href="/assets/img/r2lab-icon.png"/>
  <!---------------------------------------- third-party -->

  <!----------- bootstrap, jquery, d3 and socket-io all over the place -->
  {% include 'r2lab/corelibs.html' %}

  <!---------- used to source codes text -->
  <link type="text/css" rel="stylesheet" href="/assets/css/hljs-github.min.css"/>
  <!-- color text in python codes -->
  <script type="text/javascript" src="/assets/js/prism-default.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/css/prism-default.css" />

  <!---------------------------------------- openlab/fit -->
  <!-- overrides of bootstrap -->
  <link rel="stylesheet" type="text/css" media="screen" href="/assets/fit/css/bootstrap-fit.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/assets/fit/css/openlab-fit-layout.css" />
  <link rel="stylesheet" type="text/css" href="/assets/font-awesome-4.4.0/css/font-awesome.min.css" />
  <!---------------------------------------- r2lab specifics -->
  <link rel="stylesheet" type="text/css" media="screen" href="/assets/r2lab/r2lab.css" />
  <!-- override fit layout -->
  <link rel="stylesheet" type="text/css"                href="/assets/r2lab/openlab-fit-layout_overrides.css" />
  <!-- our script for setting the active tabs right -->
  <script type="text/javascript" src="/assets/r2lab/active-tab.js"></script>
  <!-- random background images -->
  <script type="text/javascript" src="/assets/r2lab/random-image.js"></script>
  <!-- details on current session -->
  {% include 'r2lab/r2lab-user.js' %}
  <!-- expose sidecar_url from settings.py -->
  {% include 'r2lab/sidecar-url.js' %}
 </head>
 <body>
  <div class="header">
   <div class="container">
    <div class="row">
     <div class="col-lg-2 col-xs-12 col-sm-3 col-md-2 logo">
      <a href="/index.md">
       <img class="img-responsive" src="/assets/img/r2lab_logo.svg" alt="OneLab - Future Internet Testbeds" />
      </a>
     </div>
     <div class="col-lg-8 col-xs-12 col-sm-7 col-md-7 navigation">
      <ul>
        <li><a id="tab-overview" tab="{{tab}}" class="sites" href="/overview.md">Overview</a></li>
        <li><a id="tab-platform" tab="{{tab}}" class="sites" href="/hardware.md">Nodes</a></li>
        <li><a id="tab-status" tab="{{tab}}" class="sites" href="/status.md">Status</a></li>
        <li><a id="tab-news" tab="{{tab}}" class="sites" href="/news.md">News</a></li>
        <li><a id="tab-tutorial" tab="{{tab}}" class="sites" href="/tutorial.md">Tutos</a></li>
{% if r2lab_context %}
        <li><a id="tab-book" tab="{{tab}}" class="sites" href="/book.md">Book</a></li>
        <li><a id="tab-run" tab="{{tab}}" class="sites" href="/run.md">Run</a></li>
        <!-- <li><a id="tab-run" tab="{{tab}}" class="sites" href="/run.md">One</a></li>
        <li><a id="tab-run" tab="{{tab}}" class="sites" href="/run.md">Two</a></li>
        <li><a id="tab-run" tab="{{tab}}" class="sites" href="/run.md">Three</a></li>
        <li><a id="tab-run" tab="{{tab}}" class="sites" href="/run.md">Four</a></li> -->
{% endif %}
      </ul>
     </div>
     <div class="col-lg-2 col-xs-12 col-sm-2 col-md-3 secondary">
      <ul>
       <li>
{% if r2lab_context.user_details %}
    <a class="button logout" href="/logout/">Logout</a>
{% else %}
    <!-- <a class="button" target="_blank" href="http://portal.onelab.eu">Access the portal</a> -->
{% endif %}
       </li>
      </ul>
     </div>
    </div>
   </div>
  </div>

{% if not skip_header %}
  <div class="container-fluid personal" id="background">
   {% if not r2lab_context and widget_login_template %}{% include widget_login_template %}{% endif %}
  </div>
  {% if not skip_news %}
  <br>
  <br>
  <div class="container">
   <div class="alert alert-info text-center" role="alert">
    stay tuned about the last news, infos and incidents about R2lab, check out our <a href="news.md">news feed</a>
   </div>
  </div>
  {% endif %}
{% endif %}

  <div class="container" id="main_container">
   <div class="row">
    <div class="col-md-10 col-md-offset-1 fit">
     <h2><span class="blue bold">{{title}}</span></h2>
     {% if subtitle %} <p class="subtitle">{{subtitle}}</p>{% endif %}
    </div>
   </div>
   <div class="row">
    <div class="col-md-12">
     {{ html_from_markdown }}
    </div>
   </div>
   <br>
   <br>
  </div>
  <div class="footer">
   <div class="container">
    <div class="col-md-12">
     <span>Copyright &copy; <a href="http://www.inria.fr/sophia" target="_blank">INRIA Sophia Antipolis</a>,
     on behalf of the OneLab consortium.
     </span>
    </div>
   </div>
  </div>
  <script type="text/javascript">placeImage();</script>
 </body>
</html>
