<!DOCTYPE html>
<html>
 <head>
   <style>
   .numberCircle {
       border-radius: 50%;
       behavior: url(PIE.htc); /* remove if you don't care about IE8 */

       width: 36px;
       height: 36px;
       padding: 8px;

       background: #fff;
       border: 2px solid #666;
       color: #666;
       text-align: center;

       font: 32px Arial, sans-serif;
   }
   </style>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{{title}}</title>
  <link rel="icon" type="image/png" href="/assets/img/r2lab-icon.png"/>
  <!---------------------------------------- third-party -->
  <!-- bootstrap and jquery are all over the place -->
  <script type="text/javascript" src="/assets/js/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
  <link type="text/css" rel="stylesheet" href="/assets/css/bootstrap.min.css"/>

  <!-- used to source codes text -->
  <link type="text/css" rel="stylesheet" href="/assets/css/hljs-github.min.css"/>
  <!-- color text in python codes -->
  <script type="text/javascript" src="/assets/js/prism-default.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/css/prism-default.css" />

  <!-- d3 for livetable/livemap-->
  <script src="/assets/js/d3.min.js"></script>

  <!-- socket.io for livetable/livemap-->
  <script src="/assets/js/socket.io-1.3.6.js"></script>
  <!---------------------------------------- openlab/fit -->
  <!-- overrides of bootstrap -->
  <link rel="stylesheet" type="text/css" media="screen" href="/assets/fit/css/bootstrap-fit.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/assets/fit/css/openlab-fit-layout.css" />
  <link rel="stylesheet" type="text/css" href="/assets/font-awesome-4.4.0/css/font-awesome.min.css" />
  <!---------------------------------------- r2lab specifics -->
  <link rel="stylesheet" type="text/css" media="screen" href="/assets/r2lab/r2lab.css" />
  <!-- override fit layout -->
  <link rel="stylesheet" type="text/css"                href="/assets/r2lab/openlab-fit-layout_overrides.css" />
  <!-- our script for setting the active tabs right -->
  <script type="text/javascript" src="/assets/r2lab/active-tab.js"></script>
  <!-- random background images -->
  <script type="text/javascript" src="/assets/r2lab/random-image.js"></script>
  <!-- details on current session -->
  {% include 'r2lab/r2lab-user.js' %}
 </head>
 <body>
  <div class="header">
   <div class="container">
    <div class="row">
     <div class="col-xs-12 col-sm-3 col-md-2 logo">
      <a href="/index.md">
       <img class="img-responsive" src="/assets/img/r2lab_logo.svg" alt="OneLab - Future Internet Testbeds" />
      </a>
     </div>
     <div class="col-xs-12 col-sm-7 col-md-7 navigation">
      <ul>
        <li><a id="tab-overview" tab="{{tab}}" class="sites" href="/overview.md">Overview</a></li>
        <li><a id="tab-platform" tab="{{tab}}" class="sites" href="/hardware.md">Nodes</a></li>
        <li><a id="tab-status" tab="{{tab}}" class="sites" href="/status.md">Status</a></li>
        <li><a id="tab-news" tab="{{tab}}" class="sites" href="/news.md">News</a></li>
        <li><a id="tab-tutorial" tab="{{tab}}" class="sites" href="/tutorial.md">Tutos</a></li>
{% if r2lab_context %}
        <li><a id="tab-book" tab="{{tab}}" class="sites" href="/book.md">Book</a></li>
        <li><a id="tab-run" tab="{{tab}}" class="sites" href="/run.md">Run</a></li>
{% endif %}
      </ul>
     </div>
     <div class="col-xs-12 col-sm-2 col-md-3 secondary">
      <ul>
       <li>
{# temporary - show a logout button when actually logged in #}
{# this way we can still this code in production #}
{% if r2lab_context.mfuser %}
        <a class="button logout" href="http:/logout/">Logout</a>
{% else %}
        <a class="button" target="_blank" href="http://portal.onelab.eu">Access the portal</a>
{% endif %}
{# temporary #}
       </li>
      </ul>
     </div>
    </div>
   </div>
  </div>

{% if float_menu_template %}{% include float_menu_template %}{% endif %}

{% if not skip_header %}
  <div class="container-fluid personal" id="background">
   {% if not r2lab_context and widget_login_template %}{% include widget_login_template %}{% endif %}
  </div>
  <br>
  <br>
  <div class="container">
   <div class="alert alert-info text-center" role="alert">
    stay tuned about the last news, infos and incidents about R2lab, check out our <a href="news.md">news feed</a>
   </div>
  </div>
{% else %}
<div class="alert alert-info text-center"></div>
{% endif %}

  <div class="container">
   <div class="row">
    <div class="col-md-10 col-md-offset-1 fit">
     <h2><span class="blue bold">{{title}}</span></h2>
     {% if subtitle %} <p class="subtitle">{{subtitle}}</p>{% endif %}
{# temporary #}
{#{% if skip_header %}#}
{#{% include 'r2lab/widget_id.html' %}#}
{#{% endif %}#}
{# temporary #}
    </div>
   </div>
   <div class="row">
    <div class="col-md-12">
     {{ html_from_markdown }}
    </div>
   </div>
   <br>
   <br>
  </div>
  <div class="footer">
   <div class="container">
    <div class="col-md-12">
     <span>Copyright &copy; <a href="http://www.inria.fr/sophia" target="_blank">INRIA Sophia Antipolis</a>,
     on behalf of the OneLab consortium.
     </span>
    </div>
   </div>
  </div>
  <script type="text/javascript">placeImage();</script>
 </body>
</html>
