{% load staticfiles %}
<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{{title}}</title>
  <link rel="icon" type="image/png" href="{% static 'img/r2lab-icon.png' %}"/>
  <!---------------------------------------->
  <!-- bootstrap and jquery are all over the place -->
  <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
  <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- used to source codes text -->
  <link type="text/css" rel="stylesheet" href="{% static 'css/hljs-github.min.css' %}"/>
  <!---------------------------------------->
  <!-- openlab layout -->
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/r2lab.css' %}" />
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap-fit.min.css' %}" />
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/openlab-fit-layout.css' %}" />
  <link type="text/css" rel="stylesheet" href="{% static 'font-awesome-4.4.0/css/font-awesome.min.css' %}"/>
  <!---------------------------------------->
  <!-- openlab overrides layout -->
  <link type="text/css" rel="stylesheet" href="{% static 'css/openlab-fit-layout_overrides.css' %}"/>
  <!---------------------------------------->
  <!-- d3 for livetable/livemap-->
  <script src="{% static 'js/d3.min.js' %}"></script>
  <!-- socket.io for livetable/livemap-->
  <script src="{% static 'js/socket.io-1.3.6.js' %}"></script>
  <!---------------------------------------->
  <!-- our script for setting the active tabs right -->
  <script type="text/javascript" src="{% static 'js/active-tab.js' %}"></script>
  <!-- color text in python codes -->
  <script type="text/javascript" src="{% static 'js/prism-default.js' %}"></script>
  <link href="{% static 'css/prism-default.css' %}" rel="stylesheet" />
  <!-- random background images -->
  <script type="text/javascript" src="{% static 'js/random_image.js' %}"></script>
  <!-- details on current session -->
  {% include 'r2lab/r2lab_user.js' %}
 </head>
 <body>
  <div class="header">
   <div class="container">
    <div class="row">
     <div class="col-xs-12 col-sm-3 col-md-2 logo">
      <a href="/index.md">
       <img class="img-responsive" src="{% static 'img/r2lab_logo.svg' %}" alt="OneLab - Future Internet Testbeds" />
      </a>
     </div>
     <div class="col-xs-12 col-sm-7 col-md-7 navigation">
      <ul>
        <li><a id="tab-overview" tab="{{tab}}" class="sites" href="overview.md">Overview</a></li>
        <li><a id="tab-status" tab="{{tab}}" class="sites" href="status.md">Status</a></li>
        <li ><a id="tab-platform" tab="{{tab}}" class="sites" href="hardware.md">Hardware</a></li>
        <li><a id="tab-blog" tab="{{tab}}" class="sites" href="blog.md">Infos</a></li>
        <li><a id="tab-tutorial" tab="{{tab}}" class="sites" href="tutorial.md">Tutorials</a></li>
      </ul>
     </div>
     <div class="col-xs-12 col-sm-2 col-md-3 secondary">
      <ul>
       <li>
{# temporary - show a logout button when actually logged in #}
{# this way we can still this code in production #}
{% if r2lab_context.mfuser %}
        <a class="button logout" href="http:/logout/">Logout</a>
{% else %}
        <a class="button" target="_blank" href="http://portal.onelab.eu">Access the portal</a>
{% endif %}
{# temporary #}
       </li>
      </ul>
     </div>
    </div>
   </div>
  </div>

  <div class="container-fluid personal" id="background">
   {% if login_widget_template %}{% include login_widget_template %}{% endif %}
  </div>

  {% if float_menu_template %}{% include float_menu_template %}{% endif %}

  <br>
  <br>
  <div class="container">
   <div class="alert alert-info text-center" role="alert">
    stay tuned about the last news, infos and incidents about R2lab, check out our <a href="blog.md">info blog</a>
   </div>
  </div>
  <div class="container">
   <div class="row">
    <div class="col-md-10 col-md-offset-1 fit">
     <h2><span class="blue bold">{{title}}</span></h2>
     {% if subtitle %} <p class="subtitle">{{subtitle}}</p>{% endif %}
{# temporary #}
     {% if login_message %} <p>login_message = {{login_message}}</p> {% endif %}
     {% if previous_message %} <p>previous_message = {{previous_message}}</p> {% endif %}
     {% if r2lab_context.mfuser.email %} <p>mail = {{r2lab_context.mfuser.email}}@{{r2lab_context.manifold_url}}</p> {% endif %}
     {% if r2lab_context.mfuser.hrn %} <p>hrn = {{r2lab_context.mfuser.hrn}}</p> {% endif %}
     {% for slice in r2lab_context.slices %}
        <p> in slice {{slice}}</p>
     {% endfor %}
{# temporary #}
    </div>
   </div>
   <div class="row">
    <div class="col-md-12">
     {{ html_from_markdown }}
    </div>
   </div>
   <br>
   <br>
  </div>
  <div class="footer">
   <div class="container">
    <div class="col-md-12">
     <span>Copyright &copy; <a href="http://www.inria.fr/sophia" target="_blank">INRIA Sophia Antipolis</a>,
     on behalf of the OneLab consortium.
     </span>
    </div>
   </div>
  </div>
  <script type="text/javascript">placeImage();</script>
 </body>
</html>
