<!-- PARTIAL MODAL FOR SLICES - USED IN RUN OR BOOK -->
<script type="text/javascript" src="/assets/r2lab/liveslices.js"></script>
<style type="text/css"> @import url("/assets/r2lab/liveslices.css"); </style>
<script type="text/javascript" src="/assets/r2lab/livekeys.js"></script>
<style type="text/css"> @import url("/assets/r2lab/livekeys.css"); </style>
<style type="text/css"> @import url("/assets/r2lab/modals.css"); </style>
<div class="modal fade" id="slices_keys_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header no-underline">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	  <span aria-hidden="true">&times;</span>
	</button>
        <h3 class="modal-title">Manage your Slices & Keys</h3>
      </div>
      <h4 class="modal-section">Your Slices</h4>
      <div class="modal-body" id="liveslices-container">
        ...
      </div>
      <h4 class="modal-section">Your Keys</h4>
      <div class="modal-body" id="livekeys-container">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
