<div class="col-md-2 no-padding"> <!-- 2 columns -->
 <!-- the button that gives access to slides-keys-modal -->
 <div id="slices-wrap">
  <div id="manage-slices-keys" data-toggle="tooltip"
    title="Click to manage your slices and keys">
     <button type="button" data-toggle="modal" data-target="#slices_keys_modal"
       class="fc-button fc-state-default fc-corner-left fc-corner-right slices-keys">
       slices & keys&nbsp;
       <span class='fa fa-gear'></span>
     </button>
    </h4>
   </div>
  <!-- list of my slices -->
  <div id="my-slices">
   <h4 align="center" data-toggle="tooltip" data-placement="top"
    title="Double click in slice to make default">
    drag & drop to book
   </h4>
  </div>
  <div style="clear:both"></div>
 </div>
</div>
