# this is meant to be installed under /etc/systemd/system
[Unit]
Description=Sidecar service propagates testbed status using socketio

[Service]
WorkingDirectory=/root/r2lab/sidecar
ExecStartPre=mkdir -p /var/lib/sidecar
ExecStart=/bin/bash -c "node sidecar.js"

[Install]
WantedBy=multi-user.target
