body {
  margin: 10px 10px;
  padding: 0;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  font-size: 12px;
}

.sactive {
  width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid black;
  margin-left: -8px;
  margin-top: -28px;
  float: left;
}

#calendar {
  max-width: 500px;
  margin: 0 auto;
}

#messages {
  max-width: 1100px;
  margin: 0 auto;
  align-self: center;
}

#wrap {
  width: 200px;
  margin: 0 auto;
}

#my-slices {
  float: left;
  width: 200px;
  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
  text-align: left;
}

#my-slices h4 {
  font-size: 16px;
  margin-top: 0;
  padding-top: 1em;
}

#my-slices .fc-event {
  margin: 10px 0;
}

#my-slices p {
  margin: 1.5em 0;
  font-size: 11px;
  color: #666;
}

#my-slices p input {
  margin: 0;
  vertical-align: middle;
}

.fc-event {
	position: relative; /* for resize handle and other inner positioning */
	display: block; /* make the <a> tag block */
	font-size: .85em;
	line-height: 1.3;
  padding: .3em;
	border-radius: 2px;
  color: #fff;
	border: 0px solid #3a87ad; /* default BORDER color */
	background-color: #3a87ad; /* default BACKGROUND color */
	font-weight: normal; /* undo jqui's ui-widget-header bold */
  cursor: move;
}

.fc-event-not-mine {
	position: relative; /* for resize handle and other inner positioning */
	display: block; /* make the <a> tag block */
  color: #fff;
	font-size: .85em;
	line-height: 1.3;
  padding: .3em;
	border-radius: 2px;
	border: 0px solid #3a87ad; /* default BORDER color */
	background-color: #3a87ad; /* default BACKGROUND color */
	font-weight: normal; /* undo jqui's ui-widget-header bold */
  cursor: not-allowed;
}
