.dt_table {
  width: 100%;
  font-size: .75em;
  font-family: "Source Sans Pro", sans-serif;
  color: #404042;
  text-align: left;
  vertical-align: middle;

}
.dt_left {
  padding: 5px;
  font-size: .9em;
  font-family: "Source Sans Pro", sans-serif;
  color: #404042;
  background-color: #fff;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
}
.dt_head {
  padding: 5px;
  font-size: 1.3em;
  font-family: "Source Sans Pro", sans-serif;
  color: #404042;
  background-color: #fff;
  font-weight: bold;
}
.dt_value {
  padding: 1px;
}

.in_md {
  text-align: left;
  vertical-align: top;
}

.in_md p {
  line-height: .0em !important;
  font-size: 10pt;
}

.modal-dialog-custom{
    position: relative;
    display: table; //This is important
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    min-width: 300px;
}

.show-line{
}

.hide-line{
  display:none;
}

.custom-badge {
  cursor: pointer;
  border-radius: 50%;
  font-size: .8em;
  border: .1em solid #404042;
  width: 22px;
  height: 22px;
  display: block;
  text-align: center;
  cursor: pointer;
  color: #404042;
  padding-left: .1em;
  line-height: 1.8em !important;
}
