/*
body {
  margin:  0px;
  padding: 0px;
}
*/

#float_menu {
  position:        absolute;
  top:             40%;
  left:            80%;
  z-index:         9999;
  width:           200px;
  height:          40px;
  opacity:         0.6;
}

#float_menu .label {
  display:         block;
  width:           200px;
  padding-left:    10px;
  line-height:     30px;
  font-size:       x-large;
  font-weight:     bold;
  background:      #e0e0f6;
  color:           #000;
  letter-spacing:  3px;
}

#float_menu .menu {
  display:none;
}

#float_menu .menu .menu_item {
  display:         block;
  background:      #e0e0f6;
  color:           #000;
  border-top:      1px solid #333;
  padding:         10px 10px;
  font-size:       medium;
  font-weight:     bold;
  text-decoration: none;
}

#float_menu .menu a.menu_item:hover {
  background:      #e0e0e0;
  color:           #000;
}
