#messages {
    max-width: 100%;
    margin: 0 auto;
    align-self: center;
}

/* ---------- the slices & keys button ---------- */
.slices-keys {
    font-size: 15px;
    width: 170px;
    height: 60px;
    padding: 3px 7px;
    border: 1px solid #d0d0d0; 
    border-radius: 4px;
}

/* ---------- the slices area ---------- */

#slices-wrap {
  width: 100%;
  margin: 0 auto;
}

#manage-slices-keys {
  font-size: 12px;
  margin-left: 10px;
  float: left;
  width: 100%;
}

#manage-slices-keys.run {
  margin-top: 0px;
}

#my-slices.run {
  height: 378px;
}

#manage-slices-keys.book {
  margin-top: 46px;
}
#my-slices.book {
  height: 638px;
}

/* slice buttons */
#my-slices .fc-event {
    font-size: 13px;
    border: .2em solid #ccc;
    margin: 10px 0;
    padding: 5px;
    cursor: move;
}


.slice-active {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid black;
  margin-left: -8px;
  margin-top: -25px;
  float: left;
}

#my-slices {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin: 17px 10px;
  padding: 0;
  font-size: 12px;
  float: left;
  width: 170px;
  padding: 0 10px;
  border: 1px solid #d0d0d0; /*#ccc;*/
  background: #eee;
  text-align: left;
}

/* slices & keys label */
#manage-slices-keys>button {
    font-size: 15px;
}

/* drag & drop label */
#my-slices h4 {
  font-size: 15px;
  margin-top: 0;
  padding-top: 1em;
  color: #575757;
}

/* ---------- the calendar area ---------- */
/* used in run.md to hard-wire calendar width */
div.leases-run-width {
  width: 220px;
}
/* likewise, in book.md and run.md, to keep the slices column tight */
.no-padding {
  padding: 0px 0px;
}

/* ----- header - relevant in book mode only anyway */
#liveleases_container.book>div.fc-toolbar>div.fc-center h2 {
  font-size: 18px;
  white-space: normal !important;
}

#liveleases_container.book>div.fc-toolbar>div.fc-right {
  font-size: 14px;
  white-space: normal !important;
}


/* ----- layout in the page */
#liveleases_container.run {
    max-width: 200px;
}

#liveleases_container.book {
    padding: 0;
    margin: 0;
}

/* ----- time slots */
.fc-event {
    padding: 3px;
    border-radius: 4px;
    border: .2px solid;
}


/* --- run mode 

 global height is set to 455 
 border of each slot takes 1 already, so 16 + 1 = 18 * 24 = 432
 */
#liveleases_container.run .fc-slats td {
    height: 17px;
}
/* with that in place, we can't increase font-size more than a limit,
   otherwise each slot gets higher and the day won't fit in that height
*/
#liveleases_container.run .fc-event,
#liveleases_container.run .fc-axis {
    font-size: 12px;
}
/*#liveleases_container.run .fc-widget-content table tr {
    max-height: 18px;
}*/


/* --- book mode 
  same kind of computation here
  we use 24 * (28+1) = 696 px
  however in book mode we show a header so the final numbers
  are byt trial and error
*/
#liveleases_container.book .fc-slats td {
    height: 28px;
}
#liveleases_container.book .fc-event,
#liveleases_container.book .fc-axis {
    font-size: 18px;
}

/* zoom */
/* 
  in zoom mode we show plenty (24 * 6) time slots, so it sill spill
  below the viewport, no big deal, let's just try to have
  a reasonable portion of the day showup
*/
#liveleases_container.book .fc-agendaZoom-view .fc-slats td {
    height: 14px;
}
#liveleases_container.book .fc-agendaZoom-view .fc-event,
#liveleases_container.book .fc-agendaZoom-view .fc-axis {
    font-size: 10px;
}


/* zoom view */
#liveleases_container.book .


/* ----- popovers */
.popover {
    z-index: 1060;
    padding: 2px;
}

h3.popover-title {
    background-color: #ccc;
    font-size: 125%;
}

div.popover-content {
    background-color: #eee;
    font-size: 140%;
    margin: 0px;
    text-align: center;
}
