.in-red {
    color: red;
}

.in-green {
    color: green;
}

.in-blue {
    color: #0F8DC8;
}

#liveslices-container {
    text-align: left;
}

div.slice-header {
    font-weight: bold;
    font-size: large;
}
