// somehow these styles on svg elements do not seem to trigger
//.walls {
//    'fill': '#fdfdfd';
//}
//rect.pillar {
//    'fill', '#101030';
//}
// the intention for the common settings to path.walls and rect.walls
//.common{
//    'stroke': '#3b4449';
//    'stroke-width':  6px;
//    'stroke-linejoin': 'round';
//    'stroke-miterlimit': 8;
//}
//

// this is working
circle.node-status {
    stroke: 0;
    opacity: .5;
}

circle.unavailable {
    opacity: .5;
    fill: #f00;
    stroke: 0;
}

text.node-label {
    font-family: consolas, monaco, times-new-roman;
    font-size: 16;
    text-anchor: middle;
    alignment-baseline: middle;
}

circle.node-status:hover, circle.unavailable:hover, text.node-label:hover {
    cursor: pointer;
}

