.in_red {
  color:red;
}

.in_green {
  color:green;
}

.less_height .content {
  text-align: center;
  padding: 1px;
  background: #ccc;
}

#list-slices {
  text-align: left;
}

div.slice_header {
  /*margin: 8px;*/
  font-weight: bold;
  font-size: large;
}
