/* some space for the OS badges */
.livecolumns_body td.os img {
    height : 20px;
}

/* last OS, last uname & last image */
.livecolumns_body td.os, .livecolumns_body td.image {
    color: navy;
    font-size: 0.9em;
}


