/* alternate colors when headers are clicked */
.livecolumns_header tr.all {
    background-color: rgba(204, 199, 205, 0.63);
}

.livecolumns_header tr:not(.all) {
    background-color: rgba(0, 200, 73, 0.26);
}

/* show hand pointer in the column with node ids */
.pointer {
    cursor: pointer;
    font-weight: normal;
}

/* colors for various icons : ok = green, ko = gray, error = red */
.livecolumns_body td.ok    { color: #5EAE10; }
.livecolumns_body td.ko    { color: #ababab; }
.livecolumns_body td.error { color: red; }

/* the node badges */
.livecolumns_body td>span.badge {
    background-color : #a0a0b0;
}

/* override stuff from bootstrap-fit.css */
tbody.livecolumns_body>tr>td {
    padding: 3px;
}
