.in-red {
  color:red;
}

div.key-header {
  /*margin: 8px;*/
  font-weight: bold;
  font-size: large;
}

.key-detail {
    font-size: x-small;
    word-wrap: break-word;
}

.add-key-area {
    text-align: center;
    margin-top: 20px; 
}
