/*
 * a placeholder for miscell stuff before its gets stored
 * at a more suitble location - if ever
 */

/* logout button */
a.button.logout { background-color: #f69a97; }

.numberCircle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 25px;
    padding: 8px;
    font-size: 13px;
    line-height: 1em;
    border: 2px solid #909090;
    position: relative;

}
.numberCircle .height_fix {
    margin-top: 100%;
}
.numberCircle .content {
    position: absolute;
    left: 0;
    top: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    color: #909090;
    margin-top: -7px; /* Note, this must be half the font size */
}

/* button link */
a.in_blue:hover {
    color: #00A0D0;
}
a.in_blue:link {
    color: #00A0D0;
}
a.in_blue:visited {
    color: #00A0D0;
}
a.in_blue:active {
    color: #00A0D0;
}

div.title_tour {
    position: absolute;
    background: #FFF;
    height: 85px;
    width: 95.7%;
    text-align: center;
}
.bold {
    font-weight: bold;
}
