/*
 * a placeholder for miscell stuff before its gets stored
 * at a more suitble location - if ever
 */

/* logout button */
a.button.logout { background-color: #f69a97; }

/* the slices menu fromfloat_menu-slices.html */
#float_menu div.menu a.set_current_slice {
    font-size: x-small;
    font-weight: normal;
}

#float_menu div.menu a.current_slice {
    background-color: #c0c0d6;
}
#float_menu div.menu a.current_slice:hover {
    background-color: #c0c0d6;
}
