div#contents { margin: 20px; }
span.date { background: rgb(200,200,200); }
span.header { width: 25%; margin: 10px; }
div.allpage { width: 100%; margin: 5px; }
ul { margin-left: 20px; }
ul.contents>li:nth-child(odd) { background: #eee; }
