div.navigation ul {
    margin:26px 0 0 0;
    padding:0;
    display: inline-block;
    list-style-type: none;
    white-space: nowrap;
}

div.slogan {
    text-align:center;
    color:#fff;
    padding-top:230px;
    text-shadow: 1px 1px white;
}

div.personal {
    font-size:11pt;
    line-height:1.2em;
    letter-spacing:0.3pt;
    min-height:400px;
    background-image: url('../img/back.jpg');
    background-repeat:no-repeat;
    /*background-size:100%;*/
    background-size:cover;
    background-position:center center;
    background-color:#f0f0f0;
}

.login-column {
    background:rgba(200,220,240,0.6);
    border: 2px solid transparent;
    min-height:400px;
}
/*.login-form {
    margin-top:80px;
    padding:0 25px 25px 25px;
}*/

.header .logo img {
    vertical-align:middle;
    margin-top:-3px;
}
